<div class="surveyjs-wrapper" data-surveyjs-wrapper>
    <form action="page.jsp" name="surveyjs-form" class="surveyjs-form" data-surveyjs-form novalidate>
        <div class="surveyjs-body" data-surveyjs-body></div>
        <div class="surveyjs-footer">
            <button type="submit">SEND</button>
        </div>
    </form>
</div>

<script src="https://unpkg.com/formjs-plugin@4"></script>
<script src="https://unpkg.com/surveyjs@3"></script>

<script src="https://cdn.jsdelivr.net/gh/simplysayhi/formJS@4/dist/formjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/simplysayhi/surveyJS@3/dist/surveyjs.min.js"></script>
<script src="/index.js"></script>